[submodule "AppCede"]
	path = AppCede
	url = https://github.com/elhackaton/AppCede.git
[submodule "Equipo11"]
	path = Equipo11
	url = https://github.com/elhackaton/Equipo11.git
[submodule "Equipo6"]
	path = Equipo6
	url = https://github.com/elhackaton/Equipo6.git
[submodule "dignifica.me"]
	path = dignifica.me
	url = https://github.com/elhackaton/dignifica.me.git
[submodule "Equipo12"]
	path = Equipo12
	url = https://github.com/elhackaton/Equipo12.git
[submodule "Equipo7"]
	path = Equipo7
	url = https://github.com/elhackaton/Equipo7.git
[submodule "Equipo10"]
	path = Equipo10
	url = https://github.com/elhackaton/Equipo10.git
[submodule "Equipo2"]
	path = Equipo2
	url = https://github.com/elhackaton/Equipo2.git
[submodule "be-my-ear"]
	path = be-my-ear
	url = https://github.com/elhackaton/be-my-ear.git
